<ul class="breadcrumb">
  <li class="crumb"><a href="/downtime">Downtime</a></li>
  <li class="active"><%= @transaction.title %></li>
</ul>

<div class="page-title">
  <h1>
    <span class="small"><%= @transaction.title %></span>
    Schedule downtime
  </h1>
</div>

<form action="#" method="post" class="form well remove-top-margin">

    <div class="form-group form-inline">
      <label>Starts</label><br />
      <span class="add-right-margin">
      <%= time_select :publish_at, {}, {}, { class: 'date form-control' } %>
      </span>
      <%= date_select :publish_at, {}, { order: [:day, :month, :year],
        default: Date.tomorrow, start_year: Date.today.year, end_year: Date.today.year.next },
        { class: 'date form-control' } %>
    </div>

    <div class="form-group form-inline">
      <label>Ends</label><br />
      <span class="add-right-margin">
      <%= time_select :publish_at, {}, {}, { class: 'date form-control' } %>
      </span>
      <%= date_select :publish_at, {}, { order: [:day, :month, :year],
        default: Date.tomorrow, start_year: Date.today.year, end_year: Date.today.year.next },
        { class: 'date form-control' } %>
    </div>

    <p class="text-muted add-top-margin">
      Dates should be for the service’s planned downtime.
      <br />Messages appear on the start page one day before the downtime is due.
    </p>

  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control input-md-8" rows="3">This service will be unavailable between 3pm on 10 October and 10pm on 11 October</textarea>
  </div>

  <input type="submit" class="btn btn-success" value="Schedule downtime">
  <!--<input type="submit" class="btn btn-success" value="Save and re-schedule">
  <input type="submit" class="add-left-margin btn btn-default" value="Cancel downtime">-->
</form>
